<div class="container-fluid container-modified ">
  <div class="col-12"><h3 class="mb-3 title">Soporte y Mantenimiento</h3></div>
  <br />

  <div class="row ">
    <div class="col-sm-12 col-md-4 float-left d-inline-block dos">
      <div class="form-group row">

          <div class="col-12 mb-1 mt-1 uno ">
              <label class="col-4 mb-1 col-form-label pl-2 al "
                >Estado del mantenimiento:
              </label>
              <div class="col-7 float-right">
                <select
                  name="supportType"
                  [(ngModel)]="administratormodel.supportType"
                  style="width:90%;height: 25px"
                >
                <option value="en proceso">en proceso</option>
                <option value="terminado">terminado</option>
                <option value="suspendido">suspendido</option>
                </select>
              </div>

              <button
              type="button"
              class="btn btn-sm btn-success mr-2"
              (click)="search()"
            >
              <i class="fa fa-search"></i> 
            </button>

            </div>
    

        </div>
      </div>
    </div>
  
    <div class="row ">
        <div class="col-sm-12 col-md-4 float-left d-inline-block dos">
          <div class="form-group row">
        
              <table class="table table-striped table-bordered table-hover" id="table_informe">
                  <thead>
                      <tr>
                          <th class="text-center">Id</th>
                          <th class="text-center">Problema</th>
                          <th class="text-center">Prioridad</th>
                          <th class="text-center">Telefono</th>
                          <th class="text-center">Descripcion</th>
                          <th class="text-center">Correo</th>
                          <th class="text-center">Nombre</th>
                          <th class="text-center">Fecha</th>
                          <th class="text-center">Editar</th>
                          <th class="text-center">Reportes</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let row of rows1; index as i">
                              <td>{{ i + 1 }}</td>
                              <td>{{ row.problema }}</td>
                              <td>{{ row.prioridad }}</td>
                              <td>{{ row.telefono }}</td>
                              <td>{{ row.descripcion }}</td>
                              <td>{{ row.correo }}</td>
                              <td>{{ row.nombre }}</td>
                              <td>{{ row.fecha }}</td>
                              <td><button type="button" class="btn btn-sm btn-primary m-2"
                                data-toggle="modal" data-target="#edit"
                                (click)="btn_update(i, row)"><i class="fa fa-edit"></i> 
                                      </button></td>
                              <td><button type="button" class="btn btn-sm btn-primary m-2"
                                data-toggle="modal" data-target="#file"
                                (click)="btn_file(i, row)"><i class="fa fa-book"></i> 
                                      </button></td>
                          </tr>
                      </tbody>
                    </table>
            </div>
          </div>
        </div>

  </div>

  <div
    class="modal fade"
    id="edit"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalBuscar"
    aria-hidden="true"
  >
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content ">
        <div class="modal-header bg-#000 " >
          <div class="row">
            <div class="col-12">
              <h2 class="modal-title mtitle ">
                  Editar petición
              </h2>
            </div>
          </div>
        </div>
        <div class="modal-body" >
          <div class="row">
            

       <div class="row ">
           <div class="col-sm-12 col-md-4 float-left d-inline-block dos">
             <div class="form-group row">
                  


              <div class="col-12 mb-1 mt-1 uno ">
                  <label class="col-4 mb-1 col-form-label pl-2 al "
                    >Estado del mantenimiento:
                  </label>
                  <div class="col-7 float-right">
                    <select
                      name="supportType"
                      [(ngModel)]="administratormodel.state"
                      style="width:90%;height: 25px"
                    >

                    <option value="en proceso">en proceso</option>
                    <option value="terminado">terminado</option>
                    <option value="suspendido">suspendido</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 mb-1 mt-1 uno ">
                    <label class="col-4 mb-1 col-form-label pl-2 al "
                      >Prioridad:
                    </label>
                    <div class="col-7 float-right">
                      <select
                        name="priority"
                        [(ngModel)]="administratormodel.priority"
                        style="width:90%;height: 25px"
                      >
                      <option value="Baja">Baja</option>
                      <option value="Media">Media</option>
                      <option value="Alta">Alta</option>
                      <option value="Muy alta">Muy alta</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 mb-1 mt-1 uno">
                      <label class=" col-4 col-form-label pl-2 al ">Descripción: </label>
                      <div class="col-7 float-right">
                        <textarea
                          rows="3"
                          name="description"
                          [(ngModel)]="administratormodel.description"
                        ></textarea>
                      </div>
                    </div>

                  <div class="col-12 mb-1 mt-1 uno">
                      <label class=" col-4 col-form-label pl-2 al ">Observaciones: </label>
                      <div class="col-7 float-right">
                        <textarea
                          rows="3"
                          name="observation"
                          [(ngModel)]="administratormodel.observation"
                        ></textarea>
                      </div>
                    </div>


              </div>
            </div>
          </div>

              <div class="modal-footer">
                  <div class="float-right ">
                    <button
                      type="button"
                      class="btn btn-sm btn-danger m-2"
                      data-dismiss="modal"
                    >
                      <i class="fa fa-window-close"></i> Cerrar
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-primary m-2"
                      data-dismiss="modal"
                      (click)="update()"
                    >
                      <i class="fa fa-edit"></i> Editar
                    </button>
                  </div>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div
    class="modal fade"
    id="file"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalBuscar"
    aria-hidden="true"
  >
    <div class="modal-dialog  modal-lg" role="document" >
      <div class="modal-content ">
        <div class="modal-header bg-#000 " >
          <div class="row">
            <div class="col-12">
              <h2 class="modal-title mtitle ">
                  Reporte del id: {{ data2 }}
              </h2>
            </div>
          </div>
        </div>
        <div class="modal-body" >
          <div class="row">
            

       <div class="row ">
           <div class="col-sm-12 col-md-5 float-left d-inline-block dos">
             <div class="form-group row">
                  
                <div class="col-12 mb-1 mt-1 uno">
                    <label class="col-4 col-form-label pl-2"
                      >Id:
                    </label>
                    <div class="col-7 float-right">
                      <label class="col-4 col-form-label pl-2  ">{{
                       data2
                      }}</label>
                      <p></p>
                    </div>
                  </div>

                  <div class="col-12 mb-1 mt-1 uno">
                      <label class="col-4 col-form-label pl-2"
                        >Tipo de problema:
                      </label>
                      <div class="col-7 float-right">
                        <label class="col-4 col-form-label pl-2  ">{{
                         data3
                        }}</label>
                        <p></p>
                      </div>
                    </div>

                    <div class="col-12 mb-1 mt-1 uno">
                        <label class="col-4 col-form-label pl-2"
                          >Prioridad:
                        </label>
                        <div class="col-7 float-right">
                          <label class="col-4 col-form-label pl-2  ">{{
                           data4
                          }}</label>
                          <p></p>
                        </div>
                      </div>

                      <div class="col-12 mb-1 mt-1 uno">
                          <label class="col-4 col-form-label pl-2"
                            >Nombre:
                          </label>
                          <div class="col-7 float-right">
                            <label class="col-4 col-form-label pl-2  ">{{
                             data5
                            }}</label>
                            <p></p>
                          </div>
                        </div>

                      <div class="col-12 mb-1 mt-1 uno">
                          <label class="col-4 col-form-label pl-2"
                            >Telefonon:
                          </label>
                          <div class="col-7 float-right">
                            <label class="col-4 col-form-label pl-2  ">{{
                             data8
                            }}</label>
                            <p></p>
                          </div>
                        </div>

                        <div class="col-12 mb-1 mt-1 uno">
                            <label class="col-4 col-form-label pl-2"
                              >Correo:
                            </label>
                            <div class="col-7 float-right">
                              <label class="col-4 col-form-label pl-2  ">{{
                               data7
                              }}</label>
                              <p></p>
                            </div>
                          </div>

                          <div class="col-12 mb-1 mt-1 uno">
                              <label class="col-4 col-form-label pl-2"
                                >Estado:
                              </label>
                              <div class="col-7 float-right" >
                                <label class="col-4 col-form-label pl-2  ">{{
                                 data9
                                }}</label>
                                <p></p>
                              </div>
                            </div>


                          <div class="col-12 mb-1 mt-1 uno">
                              <label class="col-4 col-form-label pl-2"
                                >Fecha:
                              </label>
                              <div class="col-7 float-right">
                                <label class="col-4 col-form-label pl-2  ">{{
                                 data6
                                }}</label>
                                <p></p>
                              </div>
                            </div>

                            <div class="col-12 mb-1 mt-1 uno">
                                <label class="col-4 col-form-label pl-2"
                                  >Descripción:
                                </label>
                                <div class="col-7 float-right">
                                  <label class="col-4 col-form-label pl-2  ">{{
                                   data5
                                  }}</label>
                                  <p></p>
                                </div>
                              </div>

                              <div class="col-12 mb-1 mt-1 uno">
                                  <label class="col-4 col-form-label pl-2"
                                    >Observación:
                                  </label>
                                  <div class="col-7 float-right">
                                    <label class="col-4 col-form-label pl-2  ">{{
                                     data10
                                    }}</label>
                                    <p></p>
                                  </div>
                                </div>                                    

              </div>
            </div>
          </div>

              <div class="modal-footer">
                  <div class="float-right ">
                    <button
                      type="button"
                      class="btn btn-sm btn-danger"
                      data-dismiss="modal"
                    >
                      <i class="fa fa-window-close"></i> Cerrar
                    </button>
                  </div>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>
