<div class="container-fluid container-modified container">
  <div class="col-12"><h3 class="mb-3 title">SIP - PETICIONES</h3></div>
  <br />

  <div class="row ">
    <div class="col-sm-12 col-md-4 float-left d-inline-block dos">
      <div class="form-group row">
      
        
        <h1>¡Bienvenido!</h1>


      </div>
          <p>Ingrese a continuación los siguientes campos, con el objetivo de poder prestarle un soporte mas rápido y efectivo.</p>
    </div>
  </div>


  <div class="row ">
    <div class="col-10 float-left d-inline-block dos">
      <div class="form-group row">
          
        <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Problema que presenta:
          </label>
          <div class="col-7 float-right">
            <select
               class="form-control input-modified"
               name="problem"
               [(ngModel)]="homemodel.problem"
          >
          <option value="Nomina">Nomina</option>
          <option value="SIP">SIP</option>
          <option value="Office">Office</option>
          <option value="Impresion">Impresoras</option>
          <option value="Problemas con el equipo">Problemas con el equipo</option>
          <option value="Internet">Internet</option>
          <option value="Correo">Correo</option>
          <option value="Telefono">Telefono</option>
          <option value="Telefono">GPS</option>
          <option value="Otros">Otros</option>
          </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Prioridad:
          </label>
          <div class="col-7 float-right">
            <select
               class="form-control input-modified"
               name="priority"
               [(ngModel)]="homemodel.priority"
          >
            <option value="Baja">Baja</option>
            <option value="Media">Media</option>
            <option value="Alta">Alta</option>
            <option value="Muy alta">Muy alta</option>
          </select>
          </div>
        </div>        

        <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Extención:
          </label>
          <div class="col-7 float-right">
            <input
              class="form-control input-modified"
              type="text"
              name="phone"
              [(ngModel)]="homemodel.phone"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Correo Electronico:
          </label>
          <div class="col-7 float-right">
            <input
              class="form-control input-modified"
              type="text"
              name="mail"
              [(ngModel)]="homemodel.mail"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md-10 mb-1 mt-1 uno ">
          <label class="col-1 col-form-label pl-2  al"
            >Descripción:
          </label>
          <div class="col-10 float-right">
             <textarea
             class="col-12"
             rows="3"
             name="description"
             [(ngModel)]="homemodel.description"
            
           ></textarea>
          </div>
        </div>


      </div>
      
      <div class="row ml-4">
        <div class="col-sm-12">
          

          <button
          type="button" class="btn btn-primary btn-sm mr-3 d-inline-block"
           (click)="submit()"> <i class="fa fa-external-link-square-alt"></i>
          Enviar
        </button>

        </div>
      </div>

    </div>
  </div>


</div> 