<div class="container-fluid container-modified ">
  <div class="col-12"><h3 class="mb-3 title">SIP - PETICIOES</h3></div>
  <br />

  <div class="row ">
    <div class="col-sm-12 col-md-4 float-left d-inline-block dos">
      <div class="form-group row">
      
        
        <h1>¡Bienvenido!</h1>


      </div>
          <p>Ingrese a continuación los siguientes campos, con el objetivo de poder prestarle un soporte mas rápido y efectivo.</p>
    </div>
  </div>


  <div class="row ">
    <div class="col-8 float-left d-inline-block dos">
      <div class="form-group row">
          
        <div class="col-sm-12 col-md-4 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Problema que preseta:
          </label>
          <div class="col-7 float-right">
            <select
               class="form-control input-modified"
               name="problem"
               [(ngModel)]="problem"
          >
          <option value="1">Nomina</option>
          <option value="2">SIP</option>
          <option value="3">Office</option>
          <option value="4">Impresion</option>
          <option value="5">Problemas con el equipo</option>
          <option value="6">Internet</option>
          <option value="7">SION</option>
          <option value="8">Otros</option>
          </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Prioridad:
          </label>
          <div class="col-7 float-right">
            <select
               class="form-control input-modified"
               name="priority"
               [(ngModel)]="priority"
          >
            <option value="1">Baja</option>
            <option value="2">Media</option>
            <option value="3">Alta</option>
            <option value="4">Muy alta</option>
          </select>
          </div>
        </div>        

        <div class="col-sm-12 col-md-4 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Extención:
          </label>
          <div class="col-7 float-right">
            <input
              class="form-control input-modified"
              type="text"
              name="phone"
              [(ngModel)]="phone"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-1 mt-1 uno ">
          <label class="col-4 col-form-label pl-2  al"
            >Correo Electronico:
          </label>
          <div class="col-7 float-right">
            <input
              class="form-control input-modified"
              type="text"
              name="mail"
              [(ngModel)]="mail"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-1 mt-1 uno ">
          <label class="col-1 col-form-label pl-2  al"
            >Descripción:
          </label>
          <div class="col-10 float-right">
             <textarea
             class="col-12"
             rows="3"
             name="description"
             [(ngModel)]="descriptio"
            
           ></textarea>
          </div>
        </div>


      </div>
      
      <div class="row ml-4">
        <div class="col-sm-12">
          

          <button
          type="button" class="btn btn-primary btn-sm mr-3 d-inline-block"
           > <i class="fa fa-eye"></i>
          Enviar
        </button>

        </div>
      </div>

    </div>
  </div>


</div> 